* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

svg {
    width: 500px;
    stroke-width: 2;
    fill: transparent;
}

.star {
    stroke: green;
    stroke-dashoffset: 0;
    stroke-dasharray: 1775;
}

.ico{
    width: 15px;
    height: 15px;
    background-color: green;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -255px;
    margin-top: -255px;
}
